      body {
        max-width: 800px;
        margin: auto;
        padding: 10px;
      }

      .logo {
        width: 120px;
        border-radius: 60px;
      }

      hr.wavy {
        max-width: 300px;
        border-style: dashed;
      }

      main {
        text-align: center;
      }

      [lang="de"] {
        font-style: italic;
      }

      .titles {
        margin: 20px 0;
        letter-spacing: 5px;
      }                                 

      h1,
      h2 {
        margin: 0;
      }

      h1[lang="fr"] {
        text-transform: uppercase;
      }

      .top-dates {
        margin: 20px 0;
        display: flex;
        justify-content: space-around;
      }

      .encart {
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        padding: 3px 0;
      }

      article {
        display: flex;
        justify-content: space-between;
        gap: 20px;
      }

      article section {
        flex: 1;
      }

      article p{
        text-align: justify;
      }
